@tailwind base;
@tailwind components;
@tailwind utilities;

.dark-mode {
  --bg-color: #1a1a1a;
  --text-color: #ffffff;
}

body.dark-mode {
  background-color: var(--bg-color);
  color: var(--text-color);
}
